<div class="story">
  <div class="title">
    <span class="headLine">
      <a class="link" href="{{ story?.url }}">{{ story?.title }}</a>
    </span>

    <a href="https://news.ycombinator.com/item?id={{ story?.id }}">
      {{ story?.id }}
    </a>
  </div>

  <div class="byLine">
    <!-- <mat-icon fontIcon="thumb_up" style="font-size: 20px" /> -->
    <!-- <div class="score"></div> -->
    <!-- <span>{{ story?.score }}</span> -->
    <!-- <span>·</span> -->

    <div class="user">{{ story?.user?.id }}</div>
    <span>·</span>
    <div class="karma">{{ story?.user?.karma }}</div>
    <span>·</span>
    <div class="time">
      {{ story?.time ?? 0 * 1000 | date : "@h:mm:ss a" }}
    </div>
  </div>
</div>
